{% extends 'base.html' %}

{% block content %}
    <!--====== SLIDER ONE PART START ======-->
<section class="slider-area slider-one">
   <div class="bd-example">
      <div id="carouselOne" class="carousel slide" data-bs-ride="carousel">
         <ol class="carousel-indicators">
            <li
               data-bs-target="#carouselOne"
               data-bs-slide-to="0"
               class="active"
               ></li>
            <li data-bs-target="#carouselOne" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselOne" data-bs-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
            <div
               class="carousel-item bg_cover active"
               style="
               background-image: url(https://cdn.ayroui.com/1.0/images/slider/slider-one/1.jpg);
               "
               >
               <div class="carousel-caption">
                  <div class="container">
                     <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-sm-10">
                           <h2 class="carousel-title">
                              Hiring Solution & Management
                           </h2>
                           <p class="text">
                              Our hiring solution is a powerful AI-powered matchmaking platform that matches the best candidates to top employers. By solving the most pressing industry problems, we help businesses hire, engage and retain their talent.
                           </p>
                           <ul class="carousel-btn rounded-buttons">
                              <li>
                                 <a
                                    class="btn primary-btn rounded-full"
                                    href="javascript:void(0)"
                                    >
                                 Login
                                 </a>
                              </li>
                              <li>
                                 <a
                                    class="btn primary-btn-outline rounded-full"
                                    href="javascript:void(0)"
                                    >
                                 Signup
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!-- row -->
                  </div>
                  <!-- container -->
               </div>
               <!-- carousel caption -->
            </div>
            <!-- carousel-item -->
            <div
               class="carousel-item bg_cover"
               style="
               background-image: url(https://cdn.ayroui.com/1.0/images/slider/slider-one/2.jpg);
               "
               >
               <div class="carousel-caption">
                  <div class="container">
                     <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-sm-10">
                           <h2 class="carousel-title">
                              Hiring Solution & Management
                           </h2>
                           <p class="text">
                              Our hiring solution is a powerful AI-powered matchmaking platform that matches the best candidates to top employers. By solving the most pressing industry problems, we help businesses hire, engage and retain their talent.
                           </p>
                           <ul class="carousel-btn rounded-buttons">
                              <li>
                                 <a
                                    class="btn primary-btn rounded-full"
                                    href="javascript:void(0)"
                                    >
                                 Login
                                 </a>
                              </li>
                              <li>
                                 <a
                                    class="btn primary-btn-outline rounded-full"
                                    href="javascript:void(0)"
                                    >
                                 Signup
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!-- row -->
                  </div>
                  <!-- container -->
               </div>
               <!-- carousel caption -->
            </div>
            <!-- carousel-item -->
            <div
               class="carousel-item bg_cover"
               style="
               background-image: url(https://cdn.ayroui.com/1.0/images/slider/slider-one/3.jpg);
               "
               >
               <div class="carousel-caption">
                  <div class="container">
                     <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-sm-10">
                           <h2 class="carousel-title">
                              Hiring Solution & Management
                           </h2>
                           <p class="text">
                              Our hiring solution is a powerful AI-powered matchmaking platform that matches the best candidates to top employers. By solving the most pressing industry problems, we help businesses hire, engage and retain their talent.
                           </p>
                           <ul class="carousel-btn rounded-buttons">
                              <li>
                                 <a
                                    class="btn primary-btn rounded-full"
                                    href="javascript:void(0)"
                                    >
                                 Login
                                 </a>
                              </li>
                              <li>
                                 <a
                                    class="btn primary-btn-outline rounded-full"
                                    href="javascript:void(0)"
                                    >
                                 Signup
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!-- row -->
                  </div>
                  <!-- container -->
               </div>
               <!-- carousel caption -->
            </div>
            <!-- carousel-item -->
         </div>
         <!-- carousel-inner -->
         <a
            class="carousel-control-prev"
            href="#carouselOne"
            role="button"
            data-bs-slide="prev"
            >
         <i class="lni lni-chevron-left"></i>
         </a>
         <a
            class="carousel-control-next"
            href="#carouselOne"
            role="button"
            data-bs-slide="next"
            >
         <i class="lni lni-chevron-right"></i>
         </a>
      </div>
      <!-- carousel -->
   </div>
   <!-- bd-example -->
</section>
<!--====== SLIDER ONE PART ENDS ======-->

<!--====== FEATURE ONE PART START ======-->
<section class="features-area features-one">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="section-title text-center">
               <h3 class="title">Specializing In</h3>
               <p class="text">
                  Stop wasting time and money designing and managing a website
                  that doesn’t get results. Happiness guaranteed!
               </p>
            </div>
            <!-- row -->
         </div>
      </div>
      <!-- row -->
      <div class="row justify-content-center">
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="features-style-one text-center">
               <div class="features-icon">
                  <i class="lni lni-compass"></i>
               </div>
               <div class="features-content">
                  <h4 class="features-title">Graphics Design</h4>
                  <p class="text">
                     Short description for the ones who look for something new.
                     Awesome!
                  </p>
                  <div class="features-btn rounded-buttons">
                     <a
                        class="btn primary-btn-outline rounded-full"
                        href="javascript:void(0)"
                        >
                     KNOW MORE
                     </a>
                  </div>
               </div>
            </div>
            <!-- single features -->
         </div>
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="features-style-one text-center">
               <div class="features-icon">
                  <i class="lni lni-construction"></i>
               </div>
               <div class="features-content">
                  <h4 class="features-title">Product Design</h4>
                  <p class="text">
                     Short description for the ones who look for something new.
                     Awesome!
                  </p>
                  <div class="features-btn rounded-buttons">
                     <a
                        class="btn primary-btn-outline rounded-full"
                        href="javascript:void(0)"
                        >
                     KNOW MORE
                     </a>
                  </div>
               </div>
            </div>
            <!-- single features -->
         </div>
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="features-style-one text-center">
               <div class="features-icon">
                  <i class="lni lni-cup"></i>
               </div>
               <div class="features-content">
                  <h4 class="features-title">UI & UX Design</h4>
                  <p class="text">
                     Short description for the ones who look for something new.
                     Awesome!
                  </p>
                  <div class="features-btn rounded-buttons">
                     <a
                        class="btn primary-btn-outline rounded-full"
                        href="javascript:void(0)"
                        >
                     KNOW MORE
                     </a>
                  </div>
               </div>
            </div>
            <!-- single features -->
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== FEATURE ONE PART ENDS ======-->

<!--====== CLIENT LOGO PART START ======-->
<section class="client-logo-area client-logo-one">
   <!--======  Start Section Title Two ======-->
   <div class="section-title-two">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="content">
                  <span> Our Partners </span>
                  <h2 class="fw-bold">Our Awesome Clients</h2>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                     eiusmod tempor incididunt ut labore aliqua.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <!-- container -->
   </div>
   <!--====== End Section Title Two ======-->
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
               <img src="https://cdn.ayroui.com/1.0/images/client-logo/graygrids.svg" alt="Logo" />
            </div>
            <!-- single client -->
         </div>
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
               <img src="https://cdn.ayroui.com/1.0/images/client-logo/uideck.svg" alt="Logo" />
            </div>
            <!-- single client -->
         </div>
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
               <img src="https://cdn.ayroui.com/1.0/images/client-logo/ayroui.svg" alt="Logo" />
            </div>
            <!-- single client -->
         </div>
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
               <img src="https://cdn.ayroui.com/1.0/images/client-logo/lineicons.svg" alt="Logo" />
            </div>
            <!-- single client -->
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== CLIENT LOGO PART ENDS ======-->

<!--====== Tiny Slider Css ======-->
   <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/tiny-slider.css" />

 <!--====== SLIDER THREE PART START ======-->

  <section class="slider-three">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center">
            <h3 class="title">Friendly & Easy</h3>
            <p class="text">
              Stop wasting time and money designing and managing a website
              that doesn’t get results. Happiness guaranteed!
            </p>
          </div>
          <!-- section title -->
        </div>
      </div>
      <!-- row -->

      <div class="slider-items-wrapper">
        <div class="row slider-items-active">
          <div class="col-lg-4">
            <div class="single-items-one">
              <img src="https://cdn.ayroui.com/1.0/images/slider/slider-items-one.jpg" alt="Image" />
            </div>
            <!-- single-items-one -->
          </div>
          <div class="col-lg-4">
            <div class="single-items-one">
              <img src="https://cdn.ayroui.com/1.0/images/slider/slider-items-two.jpg" alt="Image" />
            </div>
            <!-- single-items-one -->
          </div>
          <div class="col-lg-4">
            <div class="single-items-one">
              <img src="https://cdn.ayroui.com/1.0/images/slider/slider-items-three.jpg" alt="Image" />
            </div>
            <!-- single-items-one -->
          </div>
          <div class="col-lg-4">
            <div class="single-items-one">
              <img src="https://cdn.ayroui.com/1.0/images/slider/slider-items-two.jpg" alt="Image" />
            </div>
            <!-- single-items-one -->
          </div>
        </div>
        <!-- row -->
      </div>
    </div>
    <!-- container -->
  </section>

  <!--====== SLIDER THREE PART ENDS ======-->

  <!--====== Tiny Slider js ======-->
  <script src="https://cdn.ayroui.com/1.0/js/tiny-slider.js"></script>

<script>
      //======== tiny slider for slider-items-active
      tns({
         autoplay: true,
         autoplayButtonOutput: false,
         mouseDrag: true,
         gutter: 0,
         container: ".slider-items-active",
         center: false,
         nav: true,
         navPosition: "bottom",
         controls: false,
         speed: 400,
         controlsText: [
            '<i class="lni lni-arrow-left-circle"></i>',
            '<i class="lni lni-arrow-right-circle"></i>',
         ],
         responsive: {
            0: {
               items: 1,
            },

            768: {
               items: 2,
            },
            992: {
               items: 3,
            },
         },
      });
   </script>

<!--======  Start Section Title One ======-->
<div class="section-title-one">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="text-center">
               <div class="content">
                  <h2 class="fw-bold">Our Key Features</h2>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                     eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</div>
<!--====== ABOUT TWO PART ENDS ======-->


<!--====== BLOG PART START ======-->
<section class="blog-area pb-5">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-4 col-md-8 col-sm-10">
            <div class="single-blog blog-style-one">
               <div class="blog-image">
                  <a href="javascript:void(0)"
                     ><img src="https://cdn.ayroui.com/1.0/images/blog/1.jpg" alt="Blog"
                     /></a>
                  <a href="javascript:void(0)" class="category">Technology</a>
               </div>
               <div class="blog-content">
                  <h5 class="blog-title">
                     <a href="javascript:void(0)">
                     Budget-Friendly Design Ideas to Transform Your Office
                     </a>
                  </h5>
                  <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
                  <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
                  <p class="text">
                     Create a workspace your team will love with these money-saving
                     interior Ui/Ux design tips Learn how People.
                  </p>
                  <a class="more" href="javascript:void(0)">READ MORE</a>
               </div>
            </div>
            <!-- single blog -->
         </div>
         <div class="col-lg-4 col-md-8 col-sm-10">
            <div class="single-blog blog-style-one">
               <div class="blog-image">
                  <a href="javascript:void(0)"
                     ><img src="https://cdn.ayroui.com/1.0/images/blog/2.jpg" alt="Blog"
                     /></a>
                  <a href="javascript:void(0)" class="category">Lifestyle</a>
               </div>
               <div class="blog-content">
                  <h5 class="blog-title">
                     <a href="javascript:void(0)">
                     Budget-Friendly Design Ideas to Transform Your Office
                     </a>
                  </h5>
                  <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
                  <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
                  <p class="text">
                     Create a workspace your team will love with these money-saving
                     interior Ui/Ux design tips Learn how People.
                  </p>
                  <a class="more" href="javascript:void(0)">READ MORE</a>
               </div>
            </div>
            <!-- single blog -->
         </div>
         <div class="col-lg-4 col-md-8 col-sm-10">
            <div class="single-blog blog-style-one">
               <div class="blog-image">
                  <a href="javascript:void(0)"
                     ><img src="https://cdn.ayroui.com/1.0/images/blog/3.jpg" alt="Blog"
                     /></a>
                  <a href="javascript:void(0)" class="category">Science</a>
               </div>
               <div class="blog-content">
                  <h5 class="blog-title">
                     <a href="javascript:void(0)">
                     Budget-Friendly Design Ideas to Transform Your Office
                     </a>
                  </h5>
                  <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
                  <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
                  <p class="text">
                     Create a workspace your team will love with these money-saving
                     interior Ui/Ux design tips Learn how People.
                  </p>
                  <a class="more" href="javascript:void(0)">READ MORE</a>
               </div>
            </div>
            <!-- single blog -->
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== BLOG PART ENDS ======-->

<!--======  Start Section Title One ======-->
<div class="section-title-one">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="text-center">
               <div class="content">
                  <h2 class="fw-bold">Our Key Features</h2>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                     eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</div>
<!--====== ABOUT TWO PART ENDS ======-->

<!--====== FAQ START ======-->
<div class="single-accordion">
   <div class="accordion-style-one">
      <div class="accordion" id="accordion">
         <div class="card">
            <div class="card-header" id="headingOne">
               <a href="#collapseOne" data-bs-toggle="collapse" role="button" aria-expanded="false" class="collapsed">Accordions title
               here</a>
            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
               <div class="card-body">
                  <p class="text">
                     Raw denim you probably haven't heard of them jean
                     shorts Austin. Nesciunt tofu stumptown aliqua, retro
                     synth master cleanse. Mustache cliche tempor,
                     williamsburg carles vegan helvetica. Reprehenderit
                     butcher retro keffiyeh dreamcatcher synth. <br />
                     <br />
                     Cosby sweater eu banh mi, qui irure terry richardson
                     ex squid. Aliquip placeat salvia cillum iphone. Seitan
                     aliquip quis cardigan american apparel, butcher
                     voluptate nisi qui.
                  </p>
               </div>
            </div>
         </div>
         <!-- card -->
         <div class="card">
            <div class="card-header" id="headingTwo">
               <a class="collapsed" href="#collapseTwo" data-bs-toggle="collapse" role="button"
                  aria-expanded="false">Accordions title here</a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
               <div class="card-body">
                  <p class="text">
                     Raw denim you probably haven’t heard of them jean
                     shorts Austin. Nesciunt tofu stumptown aliqua, retro
                     synth master cleanse. Mustache cliche tempor,
                     williamsburg carles vegan helvetica. Reprehenderit
                     butcher retro keffiyeh dreamcatcher synth. <br />
                     <br />
                     Cosby sweater eu banh mi, qui irure terry richardson
                     ex squid. Aliquip placeat salvia cillum iphone. Seitan
                     aliquip quis cardigan american apparel, butcher
                     voluptate nisi qui.
                  </p>
               </div>
            </div>
         </div>
         <!-- card -->
         <div class="card">
            <div class="card-header" id="headingThree">
               <a class="collapsed" href="#collapseThree" data-bs-toggle="collapse" role="button"
                  aria-expanded="false">Accordions title here</a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
               <div class="card-body">
                  <p class="text">
                     Raw denim you probably haven’t heard of them jean
                     shorts Austin. Nesciunt tofu stumptown aliqua, retro
                     synth master cleanse. Mustache cliche tempor,
                     williamsburg carles vegan helvetica. Reprehenderit
                     butcher retro keffiyeh dreamcatcher synth. <br />
                     <br />
                     Cosby sweater eu banh mi, qui irure terry richardson
                     ex squid. Aliquip placeat salvia cillum iphone. Seitan
                     aliquip quis cardigan american apparel, butcher
                     voluptate nisi qui.
                  </p>
               </div>
            </div>
         </div>
         <!-- card -->
         <div class="card">
            <div class="card-header" id="headingFour">
               <a class="collapsed" href="#collapseFour" data-bs-toggle="collapse" role="button"
                  aria-expanded="false">Accordions title here</a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
               <div class="card-body">
                  <p class="text">
                     Raw denim you probably haven’t heard of them jean
                     shorts Austin. Nesciunt tofu stumptown aliqua, retro
                     synth master cleanse. Mustache cliche tempor,
                     williamsburg carles vegan helvetica. Reprehenderit
                     butcher retro keffiyeh dreamcatcher synth. <br />
                     <br />
                     Cosby sweater eu banh mi, qui irure terry richardson
                     ex squid. Aliquip placeat salvia cillum iphone. Seitan
                     aliquip quis cardigan american apparel, butcher
                     voluptate nisi qui.
                  </p>
               </div>
            </div>
         </div>
         <!-- card -->
         <div class="card">
            <div class="card-header" id="headingFive">
               <a class="collapsed" href="#collapseFive" data-bs-toggle="collapse" role="button"
                  aria-expanded="false">Accordions title here</a>
            </div>
            <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
               <div class="card-body">
                  <p class="text">
                     Raw denim you probably haven’t heard of them jean
                     shorts Austin. Nesciunt tofu stumptown aliqua, retro
                     synth master cleanse. Mustache cliche tempor,
                     williamsburg carles vegan helvetica. Reprehenderit
                     butcher retro keffiyeh dreamcatcher synth. <br />
                     <br />
                     Cosby sweater eu banh mi, qui irure terry richardson
                     ex squid. Aliquip placeat salvia cillum iphone. Seitan
                     aliquip quis cardigan american apparel, butcher
                     voluptate nisi qui.
                  </p>
               </div>
            </div>
         </div>
         <!-- card -->
      </div>
   </div>
   <!-- card -->
</div>
<!-- accordion style one -->
<!--====== FAQ ends ======-->

{% endblock %}